.dialog-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rate-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont {
    text-align: left;
}

div.stars {
    width: 270px;
    display: inline-block;
}